.item {
  background: #000;
  position: absolute;
  left: 0;
  width: 100%;
  height: 80px;
  flex: 0 0 auto;
  
}

.link {
  color: #fff;
  display: flex;
  margin-left: 15%;
  margin-top: 30px;
  font-weight: 500;
  color: #fff;
}
