.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: black;
  height: 90px;
}

.link {
  color: #fff;
  display: flex;
  margin-left: 15%;
  margin-top: 30px;
  font-weight: 500;
}
